.headImage{
  border-radius:50%;
  height:40px;
  width:40px
}
.sex_icon{
  height:18px;
  width:18px
}
.en_name {
  font-family: 'cursive';
  font-weight: 450;
  font-size: 12px;
  color: #A9A9A9
}
.font_color{
  font-family: 'cursive';
  font-weight: 450;
  font-size: 12px;
  color: #696969
}